<!DOCTYPE html>
<html>
  <head>
    <title>All in Hackathon Homepage</title>
    <link href="../homepage.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
  <!-- Navbar -->
  <div class="navbar">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#upload">Get Started</a></li>
      <li><a href="secondpage.html">Start With Intention</a></li>
      <li><a href="thirdpage.html">Need Some Motivation?</a></li>
    </ul>
  </div>


  <!-- Flexbox -->
<div class="flex-container">

  <!-- Image or Logo -->
  <div class="image">
    <img src="https://media.discordapp.net/attachments/1096845146663952386/1097054810160767017/image.png?width=682&height=633" alt="allganizelogo" width="400px" height="400px">
  </div>

  <!-- Text on the side (Right) -->
  <div class="side-text-flexbox">
    <h1>All-ganize</h1>
    <h3>Optimize your success through All-ganize, a tool we ALL can use to improve our productivity and organization!</h3>
  </div>

</div>


  <!---About section-->

  <div class = "about">
    <h1 id = "about"> About 'All-ganize' </h1> 
    <p>Welcome to ‘All-ganize’, the optimal productivity resource for busy students and professionals! This website will assist those finding themselves swamped with deadlines and due dates. Are you tired of manually entering in all of your important information? We are here to help!! 
    With our platform, easily upload your PDF documents - like a class syllabus - and our technology will pull out the important information from those documents - like the assignment due dates off of your class syllabus! Try it out today, and experience the benefits for yourself! You will be better able to increase your productivity, keep track of your due dates and schedule.  
    </p>
  </div>

  <!---Upload section-->

  <div class = "upload">
    <h1 id = "upload"> Get Started</h1>

    <!--Text boxes -->
    <div class = "link"><label for="link" style="margin-bottom: 20px;">Enter the link to your syllabus here: (Note: the link can not be a 'google drive' or private link):</label>
        <input type="text" id="link" name="link" size="50" style="width: 80%; border: 4px solid #FFDFD3;" placeholder="link here">
    </div>     
   
    <div class = "text">
      <label for="text" style="margin-bottom: 20px;">If the link to your syllabus does not exist, please copy and paste the contents of your syllabus into the text-field below.</label>
      <textarea id="text" name="text" cols="50" rows="30" style="width: 80%; border: 4px solid #FFDFD3;" placeholder="paste text here"></textarea>
    </div>

  </div>

    </body>
</html>