<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All in Hackathon thirdpage</title>
    <link href="../thirdpage.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- Navbar -->
    <div class="navbar">
      <ul>
      <li><a href="homepage.html">Home</a></li>
      <li><a href="secondpage.html">Start With Intention</a></li>
      </ul>
    </div>  

    <!---Image-->
    <div class ="needmotivationimage"><img id ="needmotivationimage"
      src="https://images.unsplash.com/photo-1508558936510-0af1e3cccbab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt = "placeholder"></img></div>


    <!--Moodboard-->
    <h1> Need Some Motivation to Help you get Started?</h1>
    <h2> Here are some of our favorite inspirational quotes!</h2>
    
    <div class="moodboard">
      <div class="quote">
        <p>"Success is not final; failure is not fatal: It is the courage to continue that counts."</p>
        <p class="author">- Winston S. Churchill</p>
      </div>
      <div class="quote">
        <p>"Believe you can and you're halfway there."</p>
        <p class="author">- Theodore Roosevelt</p>
      </div>
      <div class="quote">
        <p>"You miss 100% of the shots you don't take."</p>
        <p class="author">- Wayne Gretzky</p>
      </div>
      <div class="quote">
        <p>"I never dreamed about success. I worked for it."</p>
        <p class="author">- Estée Lauder</p>
      </div>
      <div class="quote">
        <p>"The pessimist sees difficulty in every opportunity. The optimist sees opportunity in every difficulty."</p>
        <p class="author">- Winston Churchill</p>
      </div>
      <div class="quote">
        <p>"Goal setting is the secret to a compelling future."</p>
        <p class="author">- Tony Robbins</p>
      </div>
      <div class="quote">
        <p>"Opportunities don't happen, you create them."</p>
        <p class="author">- Chris Grosser</p>
      </div>
      <div class="quote">
        <p>"Don't settle for average. Bring your best to the moment. Then, whether it fails or succeeds, at least you know you gave all you had."</p>
        <p class="author">- Angela Bassett</p>
      </div>
      

    </div>
    


